@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Montserrat-Bold', sans-serif; /* Используем Montserrat-Bold */
    background-color: #000000;
    color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; /* Уменьшаем вертикальный и горизонтальный отступы */
    background-color: #000000;
    border-bottom: 2px solid #ffffff;
}

.logo img {
    height: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    position: relative;
}

nav ul li a.active {
    background: linear-gradient(135deg, #DC8CF7, #AE92FC);
    border-radius: 4px;
    color: transparent;
    background-clip: text; }
    position: relative; /* Добавляем относительное позиционирование */
}

nav ul li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: linear-gradient(135deg, #DC8CF7, #AE92FC);
}

.logout a {
    padding: 10px 30px; /* Увеличиваем горизонтальный отступ для увеличения ширины */
    border-radius: 20px; /* Увеличиваем радиус скругления углов */
    background-color: transparent; /* Устанавливаем прозрачный фон */
    border: 2px solid #ffffff; /* Добавляем белую обводку */
    color: #ffffff; /* Устанавливаем белый цвет текста */
    transition: all 0.3s ease; /* Добавляем плавный переход */
}

.logout a:hover {
    background-color: #ffffff; /* Изменяем фон при наведении */
    color: #000000; /* Изменяем цвет текста при наведении */
}

