header {
    background-color: #000000;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    float: left;
}

.logo img {
    max-height: 50px;
}

.user-cabinet {
    float: right;
}

.user-cabinet a {
    color: #414141;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.user-cabinet a:hover {
    color: #ffffff;
    background-color: #191919;
}

.sidebar {
    float: left;
    width: 200px;
    background-color: #191919;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    color: #414141;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    color: #ffffff;
    background-color: #ffffff;
}

.content {
    margin-left: 200px;
}

.content h1 {
    font-size: 24px;
    margin-top: 0;
}

.content p {
    font-size: 16px;
}
