@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.woff2') format('woff2'),
         url('fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Montserrat-Bold', sans-serif;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000000;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    box-sizing: border-box;
}

.logo img {
    height: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    position: relative;
}

nav ul li a.active {
    background: linear-gradient(135deg, #DC8CF7, #AE92FC);
    border-radius: 4px;
    color: transparent;
    background-clip: text;
    position: relative;
}

nav ul li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: linear-gradient(135deg, #DC8CF7, #AE92FC);
}

.personal a {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.personal a:hover {
    background: linear-gradient(135deg, #DC8CF7, #AE92FC);
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: row; /* Горизонтальное расположение */
    align-items: flex-start; /* Выравнивание по верхнему краю */
    justify-content: space-between; /* Равномерное распределение по горизонтали */
    width: 100%;
}

.sidebar {
    width: 25%;
    background-color: #212121;
    border-radius: 16px;
    padding: 20px;
    margin-top: 20px;
}

.filter {
    color: #ffffff;
}

.filter h3 {
    margin-top: 0;
}

.filter label {
    display: block;
    margin-bottom: 10px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-top: 20px;
    display: flex; /* Добавлено */
    flex-direction: column; /* Добавлено */
    align-items: flex-start; /* Добавлено */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #212121;
    border-radius: 16px;
}

table th, table td {
    border: 1px solid #ffffff;
    padding: 8px;
}

table th {
    background-color: #212121;
    color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #424242;
}

table tbody tr:hover {
    background-color: #757575;
}

table a {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

table a:hover {
    background: linear-gradient(135deg, #DC8CF7, #AE92FC);
    color: #ffffff;
}

.search_box {
    margin-bottom: 20px;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f5e6ed;
    border-radius: 8px;
    padding: 8px;
}

.select_area, .text_and-icon {
    display: flex;
    align-items: center;
}

.map_icon {
    color: #4451FE;
}

.text {
    color: #4451FE;
    padding-left: 10px;
}

.line {
    margin: 0 10px;
    width: 1px;
    height: 20px;
    background-color: #4451FE;
}

.search_text {
    flex-grow: 1;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: #000000;
}

.search_icon {
    color: #5E6573;
    margin-left: 10px;
}

.search_text:focus {
    outline: none;
}

.search_text:focus + .search_icon {
    color: #4451FE;
}
