/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Цвет фона страницы */
    color: #333; /* Цвет текста */
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Стили для хедера */
.admin-header {
    background-color: #000; /* Цвет фона хедера */
    color: #fff; /* Цвет текста хедера */
    padding: 10px 0;
}

.admin-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-logo img {
    width: 30px; /* Размер логотипа */
    height: auto; /* Автоскейл по диагонали */
}

.admin-button {
    background: #dc8cf7; /* градиентный фон */
    background: linear-gradient(45deg, #dc8cf7, #ae92fc); /* градиентный фон */
    color: #fff; /* Цвет текста кнопки */
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.admin-button:hover {
    background: #ae92fc; /* градиентный фон при наведении */
}

/* Стили для вкладок */
.admin-tabs {
    margin-left: 20px; /* Добавляем небольшой отступ между логотипом и вкладками */
}

.admin-tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.admin-tabs li {
    display: inline;
}

.admin-tabs a {
    color: #414141; /* Цвет текста вкладок */
    text-decoration: none;
    padding: 10px 20px;
}

.admin-tabs a.active {
    background: linear-gradient(45deg, #dc8cf7, #ae92fc); /* градиентный фон для активной вкладки */
    background-clip: text; /* Применяем градиент к тексту */
    -webkit-background-clip: text; /* Для браузеров на основе Webkit */
    color: transparent; /* Делаем текст прозрачным */
    -webkit-text-fill-color: transparent; /* Для браузеров на основе Webkit */
    text-decoration: underline; /* Подчеркиваем текст */
}

.admin-tabs a:hover {
    color: #fff; /* Цвет текста вкладок при наведении */
}

.admin-button {
    color: #fff; /* Цвет текста кнопки Выйти */
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.admin-button:hover {
    background: #ae92fc; /* градиентный фон при наведении */
}




/* Стили для основного содержимого (пользовательской таблицы) */
.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.user-table th {
    background-color: #444; /* Цвет фона заголовков таблицы */
    color: #fff; /* Цвет текста заголовков таблицы */
}

.user-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Цвет фона четных строк таблицы */
}

.user-table tr:hover {
    background-color: #ddd; /* Цвет фона строки при наведении */
}

/* Стили для футтера */
.admin-footer {
    background-color: #333; /* Цвет фона футтера */
    color: #fff; /* Цвет текста футтера */
    padding: 20px 0;
    text-align: center;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links a {
    color: #fff; /* Цвет ссылок в футтере */
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}


