/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Изменяем фоновый цвет на черный */
    color: #FFFFFF; /* Изменяем цвет текста на белый */
}

/* Шапка сайта */
header {
    background-color: #191919; /* Изменяем цвет шапки на более темный */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Логотип */
.logo img {
    max-width: 80px; /* Уменьшаем размер логотипа */
}

/* Навигационное меню */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF; /* Изменяем цвет ссылок на белый */
    font-weight: bold
